<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>My ImageBazar</title>


    <style>
        .bg {
            background: #ffeb3b !important;
        }

        .list-group-item.active {
            background: #ffff66 !important;
            color: black;
            border-color: #ffeb3b !important;
        }

        .dropdown-item:hover {
            background-color: #ffff66;
        }

        .list-group-item:hover {
            background-color: #ffff66;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}

    <nav class="text-center mt-5 bg-white">
        <form  method="POST" enctype="multipart/form-data">
            <div class="form-group">
                
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </div>

        </form>
    </nav>


    <script>
        {% if message %}
        alert('{{ message }}');
        {% endif %}
    </script>
</body>

</html>